{% extends "base/main.html" %}
{% load thumbnail %}

{% block head %}
<script src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
<script src="{{ STATIC_URL }}js/unicorn.tables.js"></script>
{% endblock %}

{% block inventory_active %}active open{% endblock %}

{% block breadcrumb_links %}
    <a href="#" class="current">Inventory Index</a>
{% endblock %}

{% block page_title %}Browse Locations{% endblock %}
{% block title %}Browse Locations{% endblock %}


{% block content %}
<div class="row-fluid">
    <div class="span6">
        <form class="form-horizontal" action="" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="control-group">
                <label class="control-label" for="id_company">Jump Direct To Location</label>
                <div class="controls">
                    {% for field in direct_to_location_form %}
                    {{ field }}
                    {% endfor %}
                    <button type="submit" name="save" class="btn btn-inverse">Go</button>
                    <input type="hidden" name="jump" value="location" />
                </div>
            </div>
        </form>
    </div>
    <div class="span6">
        <form class="form-horizontal" action="" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="control-group">
                <label class="control-label" for="id_company">Jump Direct To Part</label>
                <div class="controls">
                    {% for field in direct_to_part_form %}
                    {{ field }}
                    {% endfor %}
                    <button type="submit" name="save" class="btn btn-inverse">Go</button>
                    <input type="hidden" name="jump" value="part" />
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                    <i class="icon-th"></i>
                </span>
                <h5>Location Index</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th>Rack Location</th>
                            <th># Parts in this Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for l in locations %}
                        <tr>
                            <td>
                                <a href="{{ l.get_absolute_url }}">{{ l.location_code }}</a>
                            </td>
                            <td>
                                {% for part in l.inventorycount_set.all %}
                                {{ part }}
                                {% endfor %}
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
