

<!DOCTYPE html>
<html lang="en">
<head>
<title>MTRack</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/unicorn-login.css" />
<script type="text/javascript" src="{{ STATIC_URL }}js/respond.min.js"></script>
</head>    
<body>
        <div id="container">
            <div id="logo">
                <img src="{{ STATIC_URL }}img/logo.png" alt="" />
            </div>
            <div id="user">
                <div class="avatar">
                    <div class="inner"></div>
                    <img src="img/demo/av1_1.jpg" />
                </div>
                <div class="text">
                    <h4>Hello,<span class="user_name"></span></h4>
                </div>
            </div>
            <div id="loginbox">            
                <form id="loginform" method="post">
                    {% csrf_token %}
    				<p>Enter username and password to continue.</p>
                    <div class="input-group input-sm">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span><input class="form-control" name="username" type="text" id="username" placeholder="Username" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span><input class="form-control" name="password" type="password" id="id_password" placeholder="Password" />
                    </div>
                    <div class="form-actions clearfix">

                        <div class="pull-right">
                            <a href="#recoverform" class="flip-link to-recover grey">Lost password?</a>
                        </div>
                        <input type="submit" class="btn btn-block btn-primary btn-default" value="Login" />
                    </div>


                </form>
            </div>
        </div>
        
        <script src="{{ STATIC_URL }}js/jquery.min.js"></script>  
        <script src="{{ STATIC_URL }}js/jquery-ui.custom.min.js"></script>
        <script src="{{ STATIC_URL }}js/unicorn.login.js"></script> 
    </body>
</html>
