<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Material Test Report Tracker{% endblock %} - Django-MTR</title>
        <meta charset="UTF-8" />
        <meta name="description" content="{% block meta_description %}Part Engine is the part number search engine. Find information about part numbers for automotive, electronic, and other consumer products {% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.gritter.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/unicorn.main.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/unicorn.grey.css" class="skin-color" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" />
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.gritter.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.peity.min.js"></script>
        <script src="{{ STATIC_URL }}js/unicorn.js"></script>
        <script src="{{ STATIC_URL }}js/unicorn.interface.js"></script>
        {% block head %}
        {% endblock %}
        
        <!-- search typeahead -->
        <script type="text/javascript">
            $(document).ready(function() {
                $(".search input[type=text]").typeahead({
                    items: 5,
                    source: function (query, process) {
                        $.get('/search/autocomplete', { q: query }, function (data) {
                            process(data)
                        })
                    }
                    });
                {% if messages %}
                {% for message in messages %}
                $.gritter.add({
                    title: 'Status Message',
                    text: '{{ message }}',
                    sticky: false
                    });
                {% endfor %}
                {% endif %}
            });
        </script>
          
    </head>
    <body>
        
        <div id="gritter-notify" class="notify-ui">
        </div>
        <div id="header">
            <h1><a href="/">Django MTR Tracker</a></h1>		
        </div>

        <div class="search" id="search">
            <form method="get" action="/search/">
                <input autocomplete="off" name="q" type="text" placeholder="{% if query %}{{ query }}{% else %}Search here...{% endif %}" value="{{ query }}" /><button type="submit" class="tip-right" title="Search"><i class="icon-search icon-white"></i></button>
            </form>
        </div>
        
        <div id="user-nav" class="navbar navbar-inverse noprint">
            <ul class="btn-group">
                <li class="btn btn-inverse" ><a style="color:white" title="" href="#"><i class="icon-user"></i> <span class="text">{{ user.username }}</span></a></li>
                <li class="btn btn-inverse"><a style="color:white" title="" href="#"><i class="icon-cog"></i> <span class="text">Settings</span></a></li>
                <li class="btn btn-inverse"><a style="color:white" title="" href="{% url 'django.contrib.auth.views.logout' %}?next=/"><i class="icon-share-alt"></i> <span class="text">Logout</span></a></li>
            </ul>    
        </div>

        {% block no_sidebar %}
        <div id="sidebar">
            <ul>
                <li class="{% block home_active %}{% endblock %}"><a href="{% url 'dashboard.views.home' %}"><i class="icon-home"></i> <span>Dashboard</span></a></li>
                <li class="{% block search_active %}{% endblock %}"><a href="/search"><i class="icon-search"></i> <span>Search</span></a></li>
                
                <!-- parts sub-menu -->
                <li class="submenu {% block reports_active %}{% endblock %}">
                <a href=""><i class="icon-list-alt"></i> <span>Reports</span> <span class="label">2</span></a>
                <ul>
                    <li><a href="{% url 'reports.views.reports_index' %}"><i class="icon-eye-open"></i> Browse/Search Reports</a></li>
                    <li><a href="{% url 'reports.views.new_report' %}"><i class="icon-plus-sign"></i> Create New Report</a></li>
                    <!-- <li><a href="form-wizard.html"><i class="icon-list-alt"></i> Part Statistics</a></li> -->
                </ul>
                </li>
                
                <!-- Documents sub-menu -->
                <li class="submenu {% block doc_active %}{% endblock %}">
                <a href="#"><i class="icon-file"></i> <span>Documents</span> <span class="label">1</span></a>
                    <ul>
                        <li><a href="{% url 'documents.views.documents_index' %}"><i class="icon-eye-open"></i> Document Index</a></li>
                    </ul>
                </li>
                
                <!-- Orders sub-menu -->
                <li class="submenu {% block orders_active %}{% endblock %}">
                <a href="#"><i class="icon-shopping-cart"></i> <span>Orders</span> <span class="label">2</span></a>
                <ul>
                    <li><a href="{% url 'orders.views.orders_index' %}"><i class="icon-eye-open"></i> Browse/Search Orders </a></li>
                    <li><a href="{% url 'orders.views.new_order' %}"><i class="icon-plus-sign"></i> Create New Order</a></li>
                </ul>
                </li>
                
                
                
                <li class="submenu {% block vendors_active %}{% endblock %}" ><a href=""><i class="icon-briefcase"></i> <span>Vendors</span> <span class="label">2</span></a>
                    <ul>
                        <li><a href="{% url 'vendors.views.vendors_index' %}"><i class="icon-search"></i> Browse Vendors</a></li>
                        <li><a href="{% url 'parts.views.new_part' %}"><i class="icon-plus-sign"></i> Create New Part</a></li>
                    </ul>
                </li>
                
                <li class="submenu {% block parts_active %}{% endblock %}" ><a href="#"><i class="icon-cog"></i> <span>Parts</span> <span class="label">2</span></a>
                    <ul>
                        <li><a href="{% url 'parts.views.parts_index' %}"><i class="icon-search"></i> Browse Parts</a></li>
                        <li><a href="{% url 'parts.views.new_part' %}"><i class="icon-plus-sign"></i> Create New Part</a></li>
                    </ul>
                </li>
                
                <li class="submenu {% block tools_active %}{% endblock %}" ><a href="#"><i class="icon-wrench"></i> <span>Tools</span> <span class="label">2</span></a>
                    <ul>
                        <li><a href="{% url 'parts.views.parts_index' %}"><i class="icon-wrench"></i> Batch Inspection Report</a></li>
                        <li><a href="{% url 'parts.views.parts_index' %}"><i class="icon-wrench"></i> Edit Document Types</a></li>
                        
                    </ul>
                </li>
                <li class="submenu {% block users_active %}{% endblock %}" >
                    <a href="#"><i class="icon-user"></i> <span>Users</span>  <span class="label">2</span></a>
                        <ul>
                            <li><a href=""><i class="icon-user"></i> User Directory</a></li>
                            {% if request.user.is_authenticated %}
                            <li><a href="{{ request.user.get_absolute_url }}"><i class="icon-star"></i> My Profile</a></li>
                            {% else %}
                            <li><a href=""><i class="icon-star"></i> My Profile</a></li>
                            {% endif %}
                        </ul>
                </li>
                
                <!--<li {% block sourcing_active %}{% endblock %} ><a href="interface.html"><i class="icon-magnet"></i> <span>Sourcing Dashboard</span></a></li>-->
                
                <!--<li {% block data_collection_active %}{% endblock %} ><a href="tables.html"><i class="icon-filter"></i> <span>Data Collection</span></a></li>-->
                
                <li class="{% block help_active %}{% endblock %}">
                    <a href="#"><i class="icon-question-sign"></i> <span>Help</span></a>
                </li>
                
                
            </ul>

        </div>
        {% endblock %}

        <div id="content">
            <div id="content-header">
                <h1>{% block page_title %} {% endblock %}</h1>
                
                {% block right_buttons %}
                
                {% endblock %}
            </div>
            
            {% block no_breadcrumb %}
            <div id="breadcrumb" class="noprint">
                <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
                {% block breadcrumb_links %} {% endblock %}
            </div>
            {% endblock %}
            <div class="container-fluid">
                {% block content %}
                
                {% endblock %}

                <div class="noprint row-fluid">
                    <div id="footer" class="noprint span12" style="margin-top:65px;">
                   
                            <br />
                            &copy; 2012 - {% now "Y" %} Derek Musselmann ( <a href="https://github.com/phrac/django-mtr">View Source on Github</a>  )
                            <br /><br />
                            </div>
                </div>
            </div>
        </div>
        {% block js %}
        {% endblock %}
    </body>
</html>
