{% extends "base/main.html" %}

{% block breadcrumb_links %}
<a href="{% url 'search' %}"><i class="icon-search"></i> Search</a>
{% if query %}<a href="#">"<em>{{ query }}</em>"</a>{% endif %}
{% endblock %}

{% block page_title %}
Search
{% endblock %}

{% block search_active %}active{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span6 offset3">
        <div class="widget-box">
            <div class="widget-content">
        		<form action="." method="get" class="form-horizontal">
        			<div class="control-group">
        				
        				<div class="input-append span12" style="text-align:center">
        					<input class="search-large" type="text" name="q" value="{{ query }}" placeholder="{{ query }}"/>
        					<button class="btn" type="submit" value="Search" /><i class="icon-search"></i>
        				</div>
        			</div>
        		</form>
            </div>
        </div>
    </div>
</div>

{% if query %}
<div class="row-fluid">
    <div class="span12">
        <h3>{{ results_list.paginator.count }} matches - showing {{ results_list.start_index }}-{{ results_list.end_index }}</i> <small>~ {{ runtime|floatformat:3 }} seconds</small></h3>
    </div>
</div>        
<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-content nopadding">
                <table class="table table-bordered results">
                    <thead>
                        <tr>
                            <th>Lot #</th>
                            <th>MFG Lot #</th>
                            <th>Vendor Lot #</th>
                            <th>Heat #</th>
                            <th>Vendor</th>
                            <th>Part #</th>
                            <th>Specification</th>
                            <th>PO#</th>
                            <th>WO#</th>
                            <th># Docs</th>

                        </tr>
                    </thead>
                    {% for result in results_list.object_list %}
                    {% if result.content_type == "reports.report" %}
                            {% include "search/includes/reports/report.html" %}
                    {% endif %}
                    
                    {% endfor %}
                </table>
            
                <div class="pagination">
                    {{ results_list.render }}
                </div>
            </div>
        </div>
    </div>

    
{% else %}
<div class="widget-box">
<div class="widget-content">
    <h3>Queries <small>How to use the search box to find what you are looking for</small></h2>
    <div class="row">
        <div class="span6">
        <h4>Standard search</h4>
        <p>We implement all of the standard search features that you would expect to find
        on any major search engine. These include exact phrase, keyword, or, and none types.</p>
        
        <p>You can use these features to narrow down your results and find exactly what you
        are looking for.</p>
        
        <h4>Search Operators <small>Narrow your results</small></h4>
        You can use search operators to narrow down your results:
        <dl>
            <dt>Minus Sign <code>-</code></dt>
            <dd>Use the minus sign to <strong>exclude</strong> keywords from search.
                For example, if you needed to find lot numbers from <em>Brighton Best</em> that
                didn't include the words <em>MO53</em> you would type <code>brighton -MO53</code>.
            </dd>
            <dt>Plus Sign <code>+</code></dt>
            <dd>Use the plus sign to <strong>include</strong> keywords. Using the above example,
                to only find Brighton Best lots with MO53 you would type <code>brighton +MO53</code>.
            </dd>
        </dl>    
        </div>
        <div class="span5">
        <h4>Searchable Inputs <small>things indexed by the search engine</small></h4>
        <p>Django-MTR currently indexes the following fields. You can click on <code>text like this</code> to see an example search.</p>
        <dl>
            <dt>Lot Numbers</dt>
            <dd>The actual lot number of the report. Examples: <code>10411</code>, <code>13244</code></dd>
            
            <dt>Manufacturer &amp; Vendor Lot Numbers</dt>
            <dd>Lot numbers generated by the manufacturer. Examples: <code>JW1205129-14</code>, <code>MO53</code></dd>
            
            <dt>Heat Numbers</dt>
            <dd>Heat numbers generated by the manufacturer. Examples: <code>10006930</code></dd>
            
            <dt>Vendor Names</dt>
            <dd>Examples: <code>Tru-Weld</code>, <code>Stelfast</code></dd>
            
            <dt>Part Numbers</dt>
            <dd>Examples: <code>4NUT075NCA3IMP</code>, <code>4WAS075STB</code></dd>
            
            <dt>Part Descriptions</dt>
            <dd>Examples: <code>3/4 heavy hex nut</code>, <code>threaded rod</code></dd>
            
            <dt>Work Order Number &amp; PO number</dt>
            <dd>Examples: <code>31255</code>, <code>114107</code></dd>
            
            <dt>Specifications</dt>
            <dd>Examples: <code>F436</code>, <code>A108</code></dd>
        </dl>
        </p>
        </div>
    </div>

</div>
{% endif %}
</div>
{% endblock %}