{% extends "base/main.html" %}

{% load thumbnail %}
{% load humanize %}

{% block title %}
Part # {{ part.part_number }}
{% endblock %}


{% block parts_active %}active open{% endblock %}

{% block breadcrumb_links %}
<a href="{% url 'parts_index' %}">Parts</a>
<a class="current">{{ part }} : {{ part.description }}</a>
{% endblock %}

{% block page_title %}Part # {{ part.part_number }} Details{% endblock %}


{% block head %}
<script src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
<script src="{{ STATIC_URL }}js/unicorn.tables.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/uniform.css" type="text/css" media="screen" />
<script src="{{ STATIC_URL }}js/jquery.uniform.js"></script>
<link href="{{ STATIC_URL }}css/select2.css" rel="stylesheet" />
<script src="http://ivaynberg.github.com/select2/select2-master/select2.js"></script>
<script src="{{ STATIC_URL }}js/jquery.validate.js"></script>
<script src="{{ STATIC_URL }}js/unicorn.form_validation.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
<script src="{{ STATIC_URL }}js/fancybox/jquery.fancybox.pack.js"></script>
<link href="{{ STATIC_URL }}css/bootstrap-editable.css" rel="stylesheet">
<script src="{{ STATIC_URL }}js/bootstrap-editable.min.js"></script>

<script type="text/javascript">
    $(document).on("click", ".open-email-doc-modal", function () {
            var id = $(this).data('id');
     $("#doc-id-hidden").val( id );
     $('#email_document-modal').modal('show');
     console.log('Show Modal');
});
</script>

    
{% endblock %}



{% block content %}
<div class="row-fluid">
    <div class="span12">
        <h2>Part # {{ part.part_number }} <small>{{ part.description }}</small></h2>   
    </div>   
</div>

<div class="row-fluid">
    <div class="span7">
        <div class="widget-box collapsible">
            <div class="widget-title">
            <a href="#attributes" data-toggle="collapse">
                <span class="icon">
                    <i class="icon-list-alt"></i>
                </span>
                <h5>Lot #'s associated with this part</h5>
            </a>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered">
                    <tr>
                        <th>Lot #</th>
                        <th>Vendor</th>
                        <th>PO #</th>
                        <th>Date</th>
                    </tr>
                    {% for report in reports %}
                    <tr>
                        <td><strong><a href="{{ report.get_absolute_url }}">{{ report.lot_number }}</a></strong></td>
                        <td><a href="{{ report.vendor.get_absolute_url }}">{{ report.vendor.name }}</a></td>
                        <td>
                            {% if report.origin_po %}
                            {% with po_list=report.po_list %}
                            {% include 'base/po_list.html' %}
                            {% endwith %}
                            {% else %}
                            N/A
                            {% endif %}
                        </td>
                        <td>{{ report.created_at }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>                                               
    </div>

    <div class="span5">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-random"></i>
                    </span>
                    <h5>Details</h5>
                    <div class="buttons">
                        <a class="btn btn-inverse btn-mini tip-left" title="Edit Part" href="{% url 'parts.views.edit_part' part.part_number %}" data-toggle="modal"><i class="icon-edit icon-white"></i></a>
                    </div>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered">
                            <tr>
                                <td>Part #</td>
                                <td>{{ part }}</td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td>{{ part.description }}</td>
                            </tr>
                            <tr>
                                <td>Box Qty</td>
                                <td>{{ part.box_quantity|default:"N/A" }}</td>
                            </tr>
                            <tr>
                                <td>Created</td>
                                <td>{{ part.created_at }}</td>
                            </tr>
                            <tr>
                                <td>Last Update</td>
                                <td>{{ part.updated_at }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
       
        <!-- Audit Log -->
        <div>
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-random"></i>
                    </span>
                    <h5>Audit Log</h5>
                </div>
                <div class="widget-content">
                    <ul class="activity-list">
                        {% for l in audit_log %}
                        <li><a href="#">
                            <i class="icon-user"></i>
                            <strong>{{ l.action_user }}</strong> {{ l.get_action_type_display|lower }} {{ l.object_state }} {{ l.object }}<span>{{ l.action_date|naturaltime }}</span>
    
                        </a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>    
        </div>
    </div>
</div>

<div id="modals">
    {% csrf_token %}
    {% include 'modals/attach_document.html' %}
</div>

{% endblock %}
